button{
    background-color: #2B3BCF;
    border: none;
    color: #ffffff;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}